/* Phone 
@media (max-width: 600px) {
	#app {
		display: flex;
		flex-direction: column;
	}

	.control {
		border: 1 red dotted;
		display: flex;
		flex-direction: column;
		height: 250px;
	}
	.notes {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch
	}
}
*/

/* Tablet *//*
@media all and (min-width: 601) and (max-width: 1200) {
	*/
	#app {
		width: 100vw;
		display: flex;
		flex-direction: column;
	}

	.control {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100vw;
	}
	.notes {
		display: flex;
		width: 100vw;
		flex-direction: column;
		justify-content: center;
		align-items: space-evenly;
	}
	.tools .stats {
		display: flex;
		flex-direction: column;
	}
	.tool .stat {
		align-self: center;
		padding: 5px;
	}
/*}*/

/* Desktop 
@media (min-width: 1201) {
	#app {
		display: flex;
		flex-direction: row;
	}

	.control {
		border: 1px blue dotted;
		display: flex;
		flex-direction: column;
	}
	.notes {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch
	}
}*/

#App {
	background-color: #fffaff;
}

.notes {
	width: 100vw;
	background-color: #fefefe;
}

.note {
	background-color: #dfffff;
	width: 90vw;
	color: blue;
	border: 1px solid red;
	align-self: center;
	padding: 15px;
	spacing: 5px;
}